{
    "presets": ["next/babel"],
    "plugins": [
        ["import",{
            "libraryName":"antd"  // 在webpack加载代码之前 先做预处理
        }],
        [
            "style-componnet",{ "ssr": true } // 预编译style-component
        ]

        
    ]
}